.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.main-section {
    background-color: #e5e5e5;
}

.navbar {
    background-color: #a0d4f5;
    margin-bottom: 10px;
}

.dropdown-toggle {
    background-color: #a0d4f5 !important;
}

.navbar-brand {
    height: fit-content;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-icons {
    background-color: #a0d4f5;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.navbar-icon {
     text-align: center;
}

.footer {
     background-color: #a0d4f5;
}

.join-us-btn {
    background-color: #44c767;
    border-color: #44c767;
}

.case-competition-ranking {
    color: #005e8a;
}

.sponsor-logo {
    display: block;
}

.social-media-panel-text {
    display: inline;
}

.event-timeline-text {
    color: #005e8a;
}


.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
.gi-6x{font-size: 6em;}
